.header{
    height: 8vh;
    background-color: black;
}
.header img {
    height: 8vh;
}
.title{
    margin-top: 8vh;
}
body{
    background-color: #2e2e30;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 , h2{
    text-align: center;
    color: white;
}
form {
    text-align: center;
    margin-top: 10vh;
}
.out {
    text-align: center;
    margin-top: 5vh;
}
#btnSearch {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
#btnSearch:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
#btnSearch:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
#btnSearch:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
#search {
    height: 30px;
    width: 300px;
    margin-right: 2vw;
}
footer{
    height: 4vh;
    width: 100vw;
    background-color: black;
    position: fixed;
    bottom: 0vh;
}
footer p{
    color: white;
    font-size: 20px;
    text-align: right;
    margin-right: 2vw;
    margin-top: 0.5vh;
}